---
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('April 22 2026')}
	heroImage={AboutHeroImage}
>
	<p>
		I am Orizyn.
	</p>

	<p>
		I am a pixel artist and software developer specializing in game development.
	</p>
</Layout>
